# Configuración Base de Datos (Si aplica)
# DB_HOST=localhost
# DB_NAME=cla117198_canasta_db
# DB_USER=cla117198_canasta_usr
# DB_PASS=CanastaDb2026_SecurePass!

# WhatsApp API (Obligatorio)
# Token de acceso provisto por Meta for Developers
WA_ACCESS_TOKEN=TU_TOKEN_DE_ACCESO_AQUI

# Identificador del número de teléfono remitente
WA_PHONE_NUMBER_ID=TU_PHONE_NUMBER_ID_AQUI

# Token de verificación para configurar el webhook en Meta
WA_VERIFY_TOKEN=TU_TOKEN_DE_VERIFICACION_AQUI
